body {
    background: #F1F9FF;
}
.login-box {
    width: 420px;
    padding: 40px;
    background: #fff;
    border: 2px solid #2699FB;
    border-radius: 20px;
}
.login-box-margin {
    margin: 20% auto;
}
.register-box-margin {
    margin: 5% auto;
}
.login-box h2 {
    color: #2699FB;
    text-align: center;
}
.form-control {
    margin: 10px 0;
}
.form-control label {
    display: block;
    font-weight: bold;
    color: #2699FB;
    margin: 10px 0;
}
.form-control input {
    display: block;
    color: #2699FB;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 400px;
    padding: 10px;
}